<%- include('partials/header') -%>

<h1 class="text-4xl mb-4">Test <%= apiPath %></h1>

<pre class="block bg-gray-300 p-4 text-sm overflow-scroll">
<%= apiResponse %></pre
>

<%- include('partials/footer') -%>
